h1, h2, h3, h4 {
    font-family: "Bangers";
}

p {
    font-family: "Open Sans";
}

.btn-orange {
    background-color: #FF5733;
    color: white;
}

a {
    color: #FF5733;
}

.about-section {
    background-color: #e76f51;
    /* opacity: 0.5; */
    padding: 40px 50px;
}

.current-board {
    background-color: #e9c46a;
    padding: 20px 50px;
}

.past-board {
    background-color: #2a9d8f;
    padding: 20px 50px;
}

.upcoming-events {
    background-color: #e9c46a;
    padding: 20px 50px;
}

.join {
    background-color: #2a9d8f;
    padding: 20px 50px;
}

div.scroll {  
    height: 500px; 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify; 
}

div.orange {
    background-color: #e76f51;
    padding: 20px;
}

div.yellow {
    background-color: #e9c46a;
    padding: 20px;
}

div.blue {
    background-color: cornflowerblue;
    padding: 20px;
}

div.green {
    background-color: darkseagreen;
    padding: 20px;
}

div.right {
    text-align: right;
}
